*.DS_Store
deploy
counter.txt
.idea
.htpasswd

.well-known
.well-known/*
sftp-config.json
!Dockerfiles/*
index.php
license.txt
local-config.php
local-salt.php
readme.html
xmlrpc.php
wp-*
!/wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/tpl_ginsen_kaim
wp-includes*
wp-includes/*
!/.htaccess
!/wp-admin
/wp-admin/*
!/wp-admin/.htaccess
